@page "/veiculo"


<PageTitle>Veiculo</PageTitle>

<label>
    <select>
        @if(modelos != null){
            @foreach (var modelo in modelos)
            {
                <option> @modelo</option>  
            }
        }
    </select>
</label>

<label>
    
</label>


@code{
    public class uau{
        public string a;
        public string b;
        public string c;
    }
    List<string> modelos = new List<string>();

    protected override async void OnInitialized(){
        HttpClient client = new HttpClient();
        var r = await client.GetAsync("http://localhost:5166/teste/getTeste");
        modelos = await r.Content.ReadFromJsonAsync<List<string>>() ?? new List<string>();
        StateHasChanged();
    }
}